.ERr {
    border-color: red ;
    size: 5px;
    margin: 5px;
  }


  .heading1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: black
  }

  input[type=submit] {
    color:white;
    background-color: green;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }